<div>
    <%= form_with url: tweets_path, model: tweet_new do |form| %>
        <div class="tweet-new">
            <%= form.text_area :body, placeholder: "Remember to thing before write...", rows: 3, class: "tweet-body"%>
            <% if !parent_tweet.nil? %>
                <%= form.hidden_field :replied_to_id, value: parent_tweet.id %>
            <% else %>
                <%= form.hidden_field :replied_to_id, value: nil %>
            <% end %>
            <%= form.submit "Tweet", class: "button button--primary overline"%>
        </div>   
    <% end %>
<div>