<section class="section-sm">
  <div class="container-sm">
    <div class="w-full center mb-1">
      <h1>Sign in to your account</h1>
    </div>
  </div>

  <div class="container-sm">

<%= form_with(model: @user) do |form| %>
  <div class="user--form">
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
<% end %>

    <%- if devise_mapping.omniauthable? %>
    <div class="center">
      <p class="mb-1 text-xs overline">Continue with</p>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%# <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %>
    <div data-turbo="false" class="mb-1">
    <%= form_with(url: omniauth_authorize_path(resource_name, provider), method: :post) do |form|%>
    <%=form.submit "Login with github #{OmniAuth::Utils.camelize(provider)}", class: "w-full button button--secondary mb-1"%>
    <%end%>
    </div>
    <p class="mb-1 text-xs overline">Or</p>
    </div>
    <%# <br /> %>
  <% end %>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb-1">
      <%= f.label :email, class:"text-xs overline block"%>
      <%= f.email_field :email, class: "input", placeholder: "example@gamil.com" %>
    </div>

  <div class="mb-1">
      <%= f.label :password, class:"text-xs overline block"%>
      <%= f.password_field :password, class: "input", placeholder: "**********" %>
    </div>

  <div class="center">
      <%= f.submit "SIGN IN" ,class: "w-full button button--primary mb-1" %>

    <p class="mb-1">Don’t have an account?</p>
    </div>
  </div>
</section>
<% end %>
<%end%>

